body{
  margin: 0px;
  padding: 0px;
  background-color: #111;
}
.main-parent{
  margin: 20px;
}
.card{
  height: 400px;
  width: 300px;
  background-color: white;
  border-radius: 10px;
  margin: 20px;
}
.top img{
  margin: 10px 30px;
  width: 80%;
  height: 320px;
  object-fit: cover;
  margin-bottom: 5px;
}
.bottom{
  display: flex;
}
.bottom p ,
.bottom h4{
  margin: 0px;
  padding: 0px;
}
.text{
  width: 62%;
  margin-top: 5px;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
}
.profile{
  width: 52px;
  height: 52px;
  border-radius: 50%;
  margin-left: 20px;
}
.reload-icon img{
  width: 32px;
  height: 32px;
  border-radius: 50%; 
}